# SPDX-FileCopyrightText: 2026 Ocean Emulator Authors
#
# SPDX-License-Identifier: CC0-1.0

.git
.github
.LOCAL
.benchmarks
.data_cache
.mypy_cache
.pytest_cache
.ruff_cache
.uv-cache
.venv
*.egg-info
*.env
.claude
.pytype
.secrets.baseline
dist
tmp
*.sif
*.zarr
notebooks
