__pycache__
.*
/playpen
download-beaker.sh
jobs
saved_nets
Preds
old_files
videos
wandb
train
save_data
outputs
job_*
save_data_tensor
train_recunet
train_unet
train_unet_old
train_swin
notebooks/temp
temp
train
train_3D
token.txt
profile-logs/
*.mp4
*.gif
output.log
*.egg-info/
configs/schemas/
