__pycache__
.DS_Store
.ipynb_checkpoints
jobs
saved_nets
Preds
old_files
data
videos
wandb
.LOCAL
train
save_data
outputs
job_*
save_data_tensor
train_recunet
train_unet
train_unet_old
train_swin
notebooks/temp
temp
train_3D
token.txt
profile-logs/
*.mp4
*.gif
output.log
